.form {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 2rem 2.5rem;
}

.products {
  width: 100%;
}

.product {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--navbar-background-color);
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  color: var(--navbar-background-color);
  font-size: large;
  position: relative;
}

.error {
  position: absolute;
  bottom: 35%;
  right: 25%;
  font-size: 0.8rem;
  color: #eed202;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  font-size: 1.3rem;
  color: var(--navbar-background-color);
}

.navigate {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--main-background-color);
  width: fit-content;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  border-radius: 8px;
}
