.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  color: var(--navbar-background-color);
}

.inputBox {
  height: 9rem;
}

.label {
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 0.7rem;
}

.toggleButton {
  position: absolute;
  bottom: 30%;
  right: 60px;
  font-size: 1.5rem;
  transition: all 250ms ease;
}

.toggleButton:hover {
  transform: scale(115%);
}

.input {
  border: 1px solid var(--navbar-background-color);
  border-radius: 5px;
  padding: 1rem 0.7rem;
  background-color: transparent;
  color: var(--navbar-background-color);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  flex: 0;
  font-weight: bold;
}
