.section {
  width: 500px;
  height: 700px;
  z-index: 999;
  background-color: var(--navbar-background-color);
  color: var(--text-basic-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
  padding-top: 12px;
}

.desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  margin-bottom: 8px;
}
