.footer {
  margin: 15px 20px 0 0;
}

.footer p {
  margin-left: 0;
  margin-bottom: 0;
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 0.9rem;
  color: gray;
  font-weight: bold;
}
