.section {
  width: 100%;
  font-family: "pretendard";
  color: var(--navbar-background-color);
  border: 1px solid var(--navbar-background-color);
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list article {
  padding: 0 5px;
}

.list article:not(:last-child) {
  border-bottom: 1px solid var(--navbar-background-color);
  padding-bottom: 12px;
}
