.wrapper {
  display: grid;
  grid-template-columns: 270px 1fr 270px;
  height: 100vh;
}

.typeit {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  color: var(--navbar-background-color);
  padding: 2rem;
  margin-top: 15vh;
}

.image {
  position: absolute;
  bottom: 8vh;
}

.typeit_hidden {
  display: none;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.outlet_hidden {
  display: none;
}

.body {
  width: 800px;
  height: 690px;
  border: 5px solid var(--navbar-background-color);
  border-radius: 10px;
  position: relative;

  background: var(--screen-background-color);
  overflow: auto;
  font-family: "Pretendard";
}
