.counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--navbar-background-color);
  border-radius: 8px;
  padding: 10px;
  color: var(--navbar-background-color);
}

.title {
  font-size: 20px;
}

.expiryDate {
  margin-top: 3px;
  font-size: 14px;
  color: gray;
}

.daysLeft {
  font-size: 28px;
}
